{% extends "model_layout.html" %}

    {% block content %}
        <body>
                <ul>
                    <li><a href="/">home page</a></li>
                    <li><a href="/feedback">feedback page</a></li>
                    <li><a href="/data">models page</a></li>
                </ul>
                <b>
                    <p>Name: {{ result[2] }}</p>
                    <x3d width='500px' height='420px'>
                        <scene>
                            <inline url="/static/modelsfile/{{ result[1]}}"> </inline>
                        </scene>
                    </x3d>
                    <p>Description: {{ result[3] }}</p>
                </b>
            </div>
        </body>
    {% endblock %}