{% extends "model_layout.html" %}

    {% block content %}

        <body>
            <ul>
                <li><a href="/">home page</a></li>
                <li><a href="/feedback">feedback page</a></li>
            </ul>
            {% for item in results %}
                <b>
                    <a href="/model/{{ item[0] }}">
                        <p>Name: {{ item[2] }}</p>
                    </a>
                    <x3d width='500px' height='420px'>
                        <scene>
                            <inline url="{{ url_for ('static', filename='modelsfile/'+item[1]) }}"> </inline>
                        </scene>
                    </x3d>
                    <p>Description: {{ item[3] }}</p>
                </b>
            {% endfor %}
        </body>
    {% endblock %}
