/*background colour and */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
}

td,label,th,p,h1 {
  color: white;
}

td {
  padding: 5px 50px;
}
input,select {
  padding: 10px 13px;
  float: left;
}

table {
  padding: 5px 5px;
}

/* css for the models and how they are placed*/
b {
  float: left;
  padding: 0px 12px;
}

/*navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

  